# Settings for phones
CONFIG_USE_DEFAULT_ENV_FILE=y
CONFIG_DEFAULT_ENV_FILE="board/qualcomm/qcom-phone.env"
CONFIG_PANIC_HANG=y
CONFIG_CMD_PAUSE=y
CONFIG_BOOTSTD=y
CONFIG_BOOTSTD_IGNORE_BOOTABLE=y
CONFIG_BOOT_RETRY=y
CONFIG_BOOT_RETRY_TIME=1

# Many phones don't actually define a serial port in their DTS
# CONFIG_REQUIRE_SERIAL_CONSOLE is not set

CONFIG_TOUCHSCREEN=y
CONFIG_TOUCHSCREEN_SYNAPTICS_S3908=y

# for sm8250
# CONFIG_TEXT_BASE=0xa0080000

CONFIG_CMD_UFETCH=y

CONFIG_AUTOBOOT_MENU_SHOW=y
# CONFIG_BOOTMENU_DISABLE_UBOOT_CONSOLE is not set

#CONFIG_USB_FUNCTION_FASTBOOT=y
#CONFIG_FASTBOOT_BUF_ADDR=0xa8000000
#CONFIG_FASTBOOT_BUF_SIZE=0x8000000
#CONFIG_FASTBOOT_OEM_RUN=y
