config TEGRA_AES
	bool "Support the Tegra AES"
	select AES
	help
	  This provides a means to encrypt and decrypt data using the Tegra
	  Bit Stream Engine for Video/Audio. Also may provide a mean to
	  encrypt/decrypt/sign using already loaded device SBK.
